body {
  display: flex;
  justify-content: center;
  background-color: #eeebee;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.modal-content button {
  width: 120px;
  padding: 10px;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  text-align: center;
}

#addEventButton {
  background-color: #4967c8;
}

#deleteButton {
  background-color: #991307;
}

#closeButton {
  background-color: #0f1c48;
}

.modal-content button:hover {
  opacity: 0.9;
}

button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 8px;
  font-size: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header button {
  background-color: #607bd5;
}

#container {
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
  padding: 20px;
}

#weekdays {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  color: #0f4f6a;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5px;
}

#weekdays div {
  padding: 10px;
}

#calendar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day {
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 0px 3px #4e5050;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.day:hover {
  background-color: #e8eafa;
}

.day+#currentDay {
  background-color: #e8faef;
}

.day .day-number {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 15px;
  font-weight: bold;
}


.event {
  font-size: 10px;
  padding: 3px;
  background-color: #61a6e7;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
}


.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 3px #4e5050;
}

#newEventModal,
#deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #96c6f4;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 90%;
  max-width: 550px;
  top: 100px;
  position: absolute;
  font-family: sans-serif;
}


#eventText {
  font-size: 14px;
}

#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 200vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}


#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  color: #000000;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: none;
  border: 1px solid #000000;
}

#eventTitleInput.error {
  border: 2px solid red;
}

#eventTimeInput {
  width: 100%;
  max-width: 100%;
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid #3d3d3d;
  background-color: #fff;
  box-sizing: border-box;
  outline: none;
  text-align: left;
}


#eventTimeInput option {
  font-size: 14px;
  padding: 0px;
}

.choices__inner {
  padding: 4px 8px;
  font-size: 14px;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: #fff;
  height: 35px;
  min-height: 35px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100% !important;
  max-width: 100% !important;
  border: 1px solid #3d3d3d;
}

.choices__list--dropdown {
  width: 99.6% !important;
}

#eventDescriptionInput {
  max-width: 100%;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 1px solid #3d3d3d;
  border-radius: 4px;
  box-sizing: border-box;
  height: 100px;
  margin-top: 5px;
  outline: none;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

#editEventModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ebd2e9;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
}

#editEventModal h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

#editEventModal label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  font-weight: bold;
}

#editEventModal input,
#editEventModal select,
#editEventModal textarea {
  width: 80%;
  max-width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

#editEventModal button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: #e17f9b;
}


#editEventModal button:hover {
  opacity: 0.8;
}

.event-details {
  flex-grow: 1;
}


.event-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.edit-event-button {
  background-color: #373737;
  color: rgb(255, 255, 255);
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 10px;
}

.edit-event-button:hover {
  background-color: #e05ba4;
}


.time-select-container {
  width: 87%;
  box-sizing: border-box;
  margin: 0 auto;
}



/* Responsive Styles */
@media (max-width: 768px) {
  #container {
    padding: 10px;
  }

  #header {
    font-size: 22px;
  }

  #weekdays div {
    padding: 5px;
    font-size: 14px;
  }

  .day {
    height: 80px;
  }

  .day .day-number {
    font-size: 12px;
  }

  .event {
    font-size: 8px;
  }
}

@media (max-width: 480px) {
  #header {
    font-size: 18px;
  }

  #weekdays div {
    font-size: 12px;
  }

  .day {
    height: 60px;
  }

  .day .day-number {
    font-size: 10px;
  }

  .event {
    font-size: 7px;
  }
}


#chatbot-container {
  width: 250px;
  border: 1px solid #ccc;
  padding: 10px;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}

#chat-history {
  height: 130px;
  overflow-y: auto;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 5px;
}

#chat-input {
  width: calc(100% - 60px);
  padding: 5px;
  margin-right: 5px;
}

#send-btn {
  padding: 5px 10px;
  cursor: pointer;
}

.history {
  padding-bottom: 15px;
}

#toggle-chatbot {
  display: none;
}


@media (max-width: 768px) {
  #chatbot-container {
    width: 85%;
    margin-top: 20px;
    height: auto;
  }

  #chat-history {
    height: 100px;
  }

  #toggle-chatbot {
    display: block;
    width: 90%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
  }

  #chatbot-content {
    display: none;
  }

  #chatbot-content.open {
    display: block;
  }
}

#signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
  text-align: center;
}

#signin-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#signin-container button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #0078D7;
  color: white;
  cursor: pointer;
}

#signin-container button:hover {
  background-color: #005bb5;
}

#qr-code-container {
  margin-top: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#qr-code-container h3 {
  margin: 0 0 10px 0;
  font-size: 16px;
}

#qr-code {
  width: 150px;
  height: 150px;
}


#displayMonth {
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  color: #a60419;
}


@media (max-width: 768px) {
  #displayMonth {
    font-size: 15px; 
  }
}

#deletePromptModal {
  display: none;
  position: fixed;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
}

#deletePromptModal p {
  font-size: 16px;
  margin-bottom: 15px;
}

#deletePromptModal .input-container {
  margin-bottom: 20px;
}

#deletePromptModal input {
  width: 80%;
  max-width: 80%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#deletePromptModal button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
}


#deletePromptModal #confirmDelete {
  background-color: #991307;
}

#deletePromptModal #cancelDelete {
  background-color: #0f1c48;
}

#deletePromptModal button:hover {
  opacity: 0.8;
}


#deletePromptModal .close:hover {
  color: #000;
}

/* Modal Overlay */
#deletePromptModal::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(199, 219, 238);
  z-index: -1;
}

#saveButton {
  background-color: #1d541e;
  color: white;
}

#saveButton:hover {
  background-color: #45a049;
}


#cancelButton {
  background-color: #991307;
  color: white;
}

#cancelButton:hover {
  background-color: #e53935;
}